.applabel {
    color: #286090;
}

.appvalue {
    font-size: 12px;
    margin-left: 30px;
    font-weight: normal;
}

.fieldset {
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #F5F5F5 none repeat scroll 0% 0%;
    padding: 05px;
    margin-bottom: 1em;
}

.legend {
    text-align: left;
    width: auto;
    padding: 0.1em 0.2em;
    background: #CCC none repeat scroll 0% 0%;
    border: 0px solid rgb(14, 13, 13);
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: inherit;
}

.dummydash {
   
}


.viewClass {
    border: 10px solid rgb(14, 13, 13);
}
.headerline {
    margin-top: 00px;
    margin-bottom: 00px;
    border-width: 1.5px 0px 0px;
    border-style: solid none none;
    border-color: #EEE -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}


.error-focus {
    border: 1px red;
    border-style: solid;
}

.error-label {
    color: red;
    font-size: 12px;
    font-weight: normal;
}

input[readonly] { 
    background: none; 
    color: #333; 
    border: 0px solid #666 
}

.wrapGridHeading .ui-grid-cell-contents,.ui-grid-header-cell {
     height: 70px;
     white-space: normal;
     -ms-text-overflow: clip;
     -o-text-overflow: clip;
     text-overflow: clip;
     display: inline-block;
     overflow: visible;
}

.tabsClass-internal {    
    cursor: pointer;
}