<div ng-repeat="item in data" class="fieldset">

    <h1 class="legend">{{Utility.getHeading(viewObject)}}</h1>
    <div ng-repeat="param in item.Params" ng-if="(param.visible == undefined || param.visible) && param.direction=='out'">
        <label class="applabel">{{Utility.getLabel(param)}}: </label>
        <input ui-mask="{{Utility.getMask(param)}}" class="appvalue" ng-model="param.value" readonly></input>
    </div>

    <div ng-if="viewObject.updatePanel" style="display: inline;">
        <a data-toggle="modal" data-target="#{{viewObject.apiName+'_'+viewObject.updatePanel+'_'+viewObject.viewName+'_update'}}" class="btn btn-primary" value="Update" ng-click="openEditPanel=true;">Update</a>
        <div ng-if="openEditPanel" id="{{viewObject.apiName+'_'+viewObject.updatePanel+'_'+viewObject.viewName+'_update'}}">
            <div editpanel-directive dashboard="dashboard" update-proc-name="{{viewObject.updatePanel}}" showasmodal="true"></div>
        </div>
    </div>


    <div ng-if="viewObject.insertPanel" style="display: inline;">
        <a data-toggle="modal" data-target="#{{viewObject.apiName+'_'+viewObject.insertPanel+'_'+viewObject.viewName+'_insert'}}" class="btn btn-primary" value="Add" ng-click="openInsertPanel=true;">Add</a>
        <div ng-if="openInsertPanel" id="{{viewObject.apiName+'_'+viewObject.insertPanel+'_'+viewObject.viewName+'_insert'}}">
            <div insertpanel-directive dashboard="dashboard" insert-proc-name="{{viewObject.insertPanel}}" showasmodal="true"></div>
        </div>
    </div>

    <div ng-if="viewObject.deletePanel" style="display: inline;">
        <a data-toggle="modal" data-target="#{{viewObject.apiName+'_'+viewObject.deletePanel+'_'+viewObject.viewName+'_delete'}}" class="btn btn-danger" value="Delete" ng-click="openDeletePanel=true;">Delete</a>
        <div ng-if="openDeletePanel" id="{{viewObject.apiName+'_'+viewObject.deletePanel+'_'+viewObject.viewName+'_delete'}}">
            <div deletepanel-directive dashboard="dashboard" delete-proc-name="{{viewObject.deletePanel}}" showasmodal="true"></div>
        </div>
    </div>


</div>


